/******************************RESET STYLES SECTION***********************************/
* {
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=date] {
    -moz-appearance: textfield;
}