@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/breakpoints";


.passenger-resume {
	margin: 1em;
    .passenger-resume__container {
		tr:nth-child(even) {
	    	background-color: $table-odd-row;
		}




		&.xsmall-view, &.small-view, &.medium-view {
			display: block;
			.passenger__wrapper {
			    width: 100%;
			    padding: 29px 30px 26px 60px;
			    position: relative;
			    background-color: $font-secundary-color;
			    border-bottom: 1px solid #b09f9f;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    .passenger__number {
				    position: absolute;
				    left: 0;
				    top: 30px;
				    margin-left: -10px;

				    span.text {
					    -moz-border-radius: 3px;
					    -webkit-border-radius: 3px;
					    background-color: $background-primary-color;
					    border-radius: 3px;
					    color: #fffefe;
					    display: block;
					    font-size: 12px;
					    font-weight: 500;
					    height: 21px;
					    letter-spacing: 1px;
					    line-height: 21px;
					    position: relative;
					    text-align: center;
					    width: 37px;
					    z-index: 99;
					}
					span.after {
					    display: block;
					    position: relative;
					    width: 10px;
					    height: 10px;
					    overflow: hidden;
					    &:before {
					    	content: '';
						    position: absolute;
						    top: 0px;
						    margin-top: -8px;
						    margin-left: 3px;
						    left: 0px;
						    width: 12px;
						    height: 12px;
						    background-color: #000;
						    opacity: .3;
						    z-index: 5;
						    -webkit-transform: rotate(35deg);
						    -moz-transform: rotate(35deg);
						    -ms-transform: rotate(35deg);
						    transform: rotate(35deg);
					    }
					    &:after {
					    	content: '';
						    position: absolute;
						    top: 0px;
						    margin-top: -8px;
						    margin-left: 3px;
						    left: 0px;
						    width: 12px;
						    height: 12px;
						    z-index: 1;
						    -webkit-transform: rotate(35deg);
						    -moz-transform: rotate(35deg);
						    -ms-transform: rotate(35deg);
						    transform: rotate(35deg);
					    }
				    }
				}
				.passenger__information {
				    width: 100%;
				    position: relative;
				    .title_holder {
					    h2 {
						    margin: 0px;
						    font-size: 19px;
						    letter-spacing: 0px;
						    line-height: 1;
						    margin-bottom: 4px;
						    -webkit-transition: all .5s ease;
						    -moz-transition: all .5s ease;
						    -ms-transition: all .5s ease;
						    -o-transition: all .5s ease;
						    transition: all .5s ease;
						}
				    }
				    .passenger__close {
					    position: absolute;
					    right: 0;
					    top: 15px;
					    width: 14px;
					    cursor:pointer;
					    height: 14px;
					    fill: $font-primary-color;
					    transform: translateY(-50%);

					    .passenger__button {
							float: right; 
							position: relative; 
							right:0;
						}
					}
				}
			}
		}
		

		&.large-view {
			display: none;
			width: 100%;
			border-collapse: collapse;
			tr, td, th {
			    border: 1px solid $font-primary-color;
			    text-align: left;
			    padding: 8px;
			}

			th {
			    font-size: 12px;
			    color: $font-secundary-color;
			    line-height: 1.4;
			    text-transform: uppercase;
			    padding: 1.5rem;
			    background-color: $background-primary-color;
			}
			td {
				.actions {
					padding: .6rem .8rem .5rem;
				    font-size: 1.5em;
				    height: 42px;
				    margin-top: 4px;
				    color: $font-secundary-color;
				    margin: 3px;
				    display: inline-block;
				    background-color: $background-primary-color;    
					.form__icon--info {
					    padding-right: .6rem;
					}
				}
			}
		}
		@media screen and (min-width: $medium-min-breakpoint) and (max-width: $medium-max-breakpoint) {
			&.xsmall-view, &.small-view, &.large-view {
				display: none;
			}

			&.medium-view {
				display: block;
			}
		}

		@media screen and (min-width: $large-min-breakpoint) {
			&.xsmall-view, &.small-view, &.medium-view {
				display: none;
			}

			&.large-view {
				display: block;
			}
		}
	}
	& .no-passenger {
		display: flex;
	    justify-content: center;
	    height: 50vh;
		.passenger-resume__container {
			background-color: $background-primary-color;
			color: $font-secundary-color;


			.passenger-resume__head {
				padding: 2rem;
				h2 {
					font-size: 1.3rem;
					font-weight: bold;
					text-align: center;
				}
				position: relative;
				&:after {
					content:"";
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    height: 0.5em;
				    border-top: 1px solid $font-secundary-color;
				    margin: auto;
				}
			}
			.passenger-resume__body {
				padding: 2em 2em 5em 2em;
				text-align: center;
			}
		}
	}
	
}
