<app-passenger-message [messages]="messages"></app-passenger-message>


<div class="passenger-resume">
	<div *ngIf="(passengers$ | async)?.length !== 0; else elseBlock">
		<table class="passenger-resume__container large-view">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Date Of Birth</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let passenger of passengers$ | async; let i = index">
					<td>{{passenger.firstName}}</td>
					<td>{{passenger.lastName}}</td>
					<td>{{passenger.dateOfBirth}}</td>
					<td>{{passenger.email}}</td>
					<td>{{passenger.phoneNumber}}</td>
					<td>
						<div class="actions">
		            		<span (click)="removePassenger(i)">
		            			<fa class="form__icon--info" name="trash"></fa><span>Eliminar</span>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="passenger-resume__container xsmall-view small-view medium-view">
			<div class="passenger__wrapper" *ngFor="let passenger of passengers$ | async; let i = index">
				<div class="passenger__number">
					<span class="text">{{i+1}}</span>
					<span class="after"></span>
				</div>
				<div class="passenger__information">
					<div class="title_holder">
						<div><h2>{{passenger.firstName}}</h2></div>
						<div><span>{{passenger.lastName}}</span></div>
						<div><span>{{passenger.dateOfBirth}}</span></div>
						<div><span><a href="mailto:{{passenger.email}}">{{passenger.email}}</a></span></div>
						<div><span>{{passenger.phoneNumber}}</span></div>
					</div>
					<div class="passenger__close">
			            <div class="passenger__button actions">
		            		<fa name="trash" (click)="removePassenger(i)"></fa>
						</div>
					</div>
				</div>
				<div class="hidden_img">
				</div>
			</div>
		</div>
	</div>
	<ng-template #elseBlock>
		<div class="no-passenger" role="complementary">
			<div class="passenger-resume">
				<div class="passenger-resume__container">
					<div class="passenger-resume__head">
						<h2>You have not registered Passengers</h2>
					</div>
					<div class="passenger-resume__body">
						<p>We are sorry! you have not yet registered any passengers for your trip, please fill out the form.</p>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>